<div class="article-page">
<div class="banner">
  <div class="container">
    <h1>{{article?.title}}</h1>
    <div class="article-meta">
      <a 
        [routerLink]="['/@'+article?.author?.username]">
        <img 
          [src]="article?.author?.image ? article?.author?.image : 'https://static.productionready.io/images/smiley-cyrus.jpg'"/>
      </a>
      <div class="info">
        <a [routerLink]="[params]" class="author">{{article?.author?.username}}</a>
        <span class="date">{{article?.createdAt | date:'longDate'}}</span>
      </div>
      <ng-template [ngIf]="isView" [ngIfElse]="isAuthor">
      <button class="btn btn-sm btn-outline-secondary" (click)="updateFollow(article?.author?.following)">
      <i class="ion-plus-round"></i>
      &nbsp;
      {{follow}} {{article?.author?.username}} <span class="counter"></span>
      </button> &nbsp;&nbsp;
      <button class="btn btn-sm btn-outline-primary" (click)="updateFavoriteArticle(article?.favorited)">
      <i class="ion-heart"></i>
      &nbsp;
      {{favorite}} Article <span class="counter">({{article?.favoritesCount}})</span>
      </button>
      </ng-template>
      <ng-template #isAuthor>
        <button class="btn btn-sm btn-outline-secondary" (click)="editArticle()">
        <i class="ion-edit"></i>
        &nbsp;
        Edit Article
        </button> &nbsp;
        <button class="btn btn-sm btn-outline-danger" (click)="removeArticle()">
        <i class="ion-trash-a"></i>
        &nbsp;
        Delete Article
        </button>
      </ng-template>
    </div>
  </div>
</div>
<div class="container page">
  <div class="row article-content">
    <div class="col-md-12">
      <markdown [data]="markdown">
      </markdown>
      <ul class="tag-list">
        <li class="tag-default tag-pill tag-outline" *ngFor="let item of article?.tagList">
          {{item}}
        </li>
      </ul>
    </div>
  </div>
  <hr />
  <div class="article-actions">
    <div class="article-meta">
      <a [routerLink]="['/@'+article?.author?.username]">
        <img 
          [src]="article?.author?.image ? article?.author?.image : 'https://static.productionready.io/images/smiley-cyrus.jpg'"/>
      </a>
      <div class="info">
        <a  [routerLink]="[params]" class="author">{{article?.author?.username}}</a>
        <span class="date">{{article?.createdAt | date:'longDate'}}</span>
      </div>
      <ng-template [ngIf]="isView" [ngIfElse]="isAuthor">
      <button class="btn btn-sm btn-outline-secondary" (click)="updateFollow(article?.author?.following)">
      <i class="ion-plus-round"></i>
      &nbsp;
      {{follow}} {{article?.author?.username}} <span class="counter"></span>
      </button> &nbsp;&nbsp;
      <button class="btn btn-sm btn-outline-primary" (click)="updateFavoriteArticle(article?.favorited)">
      <i class="ion-heart"></i>
      &nbsp;
      {{favorite}} Article <span class="counter">({{article?.favoritesCount}})</span>
      </button>
      </ng-template>
      <ng-template #isAuthor>
        <button class="btn btn-sm btn-outline-secondary" (click)="editArticle()">
        <i class="ion-edit"></i>
        &nbsp;
        Edit Article
        </button> &nbsp;
        <button class="btn btn-sm btn-outline-danger" (click)="removeArticle()">
        <i class="ion-trash-a"></i>
        &nbsp;
        Delete Article
        </button>
      </ng-template>
    </div>
  </div>
  <ng-template [ngIf]="isAuth" [ngIfElse]="author">
    <app-comment-detail [slug]="slug"></app-comment-detail>
  </ng-template>
  <ng-template #author>
    <div class="row">
      <div class="col-xs-12 col-md-8 offset-md-2">
        <p>
          <a [routerLink]="['/login']">Sign in</a>
          or
          <a [routerLink]="['/register']">Sing up</a>
          to add comments on this article
        </p>
      </div>
    </div>
  </ng-template>

</div>