<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-10 offset-md-1">
      <div class="articles-toggle">
        <ul class="nav nav-pills outline-active">
          <li class="nav-item">
            <a
              class="nav-link curpoint"
              (click)="getArticle(1)"
              [ngClass]="{ active: type == 1 }"
              >My Articles</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link curpoint"
              (click)="getArticle(2)"
              [ngClass]="{ active: type == 2 }"
              >Favorited Articles</a
            >
          </li>
        </ul>
      </div>
      <ng-template [ngIf]="articlesCount == 0" [ngIfElse]="loading">
        No articles are here... yet.
      </ng-template>
      <div
        *ngIf="isLoading">
        Loading articles ...
      </div>
      <ng-template #loading>
        <div
          class="article-preview"
          *ngFor="let articleAuthor of articlesAuthor; let i = index">
          <div class="article-meta">
            <a href="">
              <img [src]="articleAuthor?.author.image ? articleAuthor?.author.image : 'https://static.productionready.io/images/smiley-cyrus.jpg'"/>
            </a>
            <div class="info">
              <a
                [routerLink]="['/@' + articleAuthor?.author.username]"
                class="author"
                >{{ articleAuthor?.author.username }}</a
              >
              <span class="date">{{
                articleAuthor?.createdAt | date: "longDate"
              }}</span>
            </div>
            <button
              class="btn btn-outline-primary btn-sm pull-xs-right"
              (click)="
                updateFavorited(
                  articleAuthor?.favorited,
                  i,
                  articleAuthor?.slug
                )
              "
              [ngClass]="{ 'btn-primary': articleAuthor?.favorited }"
            >
              <i class="ion-heart"></i> {{ articleAuthor?.favoritesCount }}
            </button>
          </div>
          <a class="preview-link">
            <h1>{{ articleAuthor?.title }}</h1>
            <p>{{ articleAuthor?.description }}</p>
            <span class="curpoint" (click)="detailArticle(articleAuthor?.slug)"
              >Read more...</span
            >
            <ul class="tag-list">
              <li
                class="tag-default tag-pill tag-outline"
                *ngFor="let item of articleAuthor?.tagList"
              >
                {{ item }}
              </li>
            </ul>
          </a>
        </div>
      </ng-template>
    </div>
  </div>
</div>
