<div class="feed-toggle">
  <ul class="nav nav-pills outline-active">
    <li *ngIf="token" class="nav-item">
      <a [ngClass]="{ active: onFeed == true }" class="nav-link">
        Your Feed
      </a>
    </li>
    <li class="nav-item">
      <a
        [ngClass]="{ active: onGlobal == true }"
        (click)="onClickGlobal()"
        class="nav-link"
      >
        Global Feed
      </a>
    </li>
  </ul>
</div>

<div *ngIf="articles">
  <div *ngFor="let artical of articles" class="article-preview">
    <div class="article-meta">
      <a href="#"><img src="{{ artical?.article.author.image }}"/></a>
      <div class="info">
        <a href="#" class="author">{{ artical?.article.author.username }}</a>
        <span class="date">{{ artical?.article.createdAt }}</span>
      </div>
      <button class="btn btn-outline-primary btn-sm pull-xs-right">
        <i class="ion-heart"></i> {{ artical?.article.favoritesCount }}
      </button>
    </div>
    <a href="" class="preview-link">
      <h1>{{ artical?.article.title }}</h1>
      <p>{{ artical?.article.body }}</p>
      <span>Read more...</span>
    </a>
  </div>
</div>
