<div class="row">
  <div class="col-xs-12 col-md-8 offset-md-2">
    <form class="card comment-form">
      <div class="card-block">
        <textarea class="form-control" placeholder="Write a comment..." rows="3" [(ngModel)]="nameComment"
          name="nameComment"></textarea>
      </div>
      <div class="card-footer">
        <img [src]="comment?.author.image" class="comment-author-img" />
        <button class="btn btn-sm btn-primary" (click)="addComments()">
          Post Comment
        </button>
      </div>
    </form>
    <div class="card" *ngFor="let comment of listComents">
      <div class="card-block">
        <p class="card-text">{{comment.body}}</p>
      </div>
      <div class="card-footer">
        <a href="" class="comment-author">
          <img [src]="comment?.author.image" class="comment-author-img" />
        </a>
        &nbsp;
        <a [routerLink]="['/@'+comment?.author.username]" class="comment-author">{{comment?.author.username}}</a>
        <span class="date-posted">{{comment.createdAt | date:'longDate'}}</span>
        <span class="mod-options" (click)="removeComments(comment.id)">
          <i class="ion-trash-a"></i>
        </span>
      </div>
    </div>
  </div>