<div class="profile-page">
  <div class="user-info">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-10 offset-md-1">
          <img src="http://i.imgur.com/Qr71crq.jpg" class="user-img" />
          <h4>Eric Simons</h4>
          <p>
            Cofounder @GoThinkster, lived in Aol's HQ for a few months, kinda looks like Peeta from the Hunger Games
          </p>
          <ng-template [ngIf]="isView" [ngIfElse]="btn1">
            <button class="btn btn-sm btn-outline-secondary action-btn" (click)="getSetting()">
              <i class="ion-gear-a"></i>&nbsp; Edit Profile Settings
            </button>
          </ng-template>

          <ng-template #btn1>
            <button class="btn btn-sm btn-outline-secondary action-btn" (click)="getSetting()">
              <i class="ion-plus-round"></i>
              &nbsp; Follow Eric Simons
            </button>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
  <app-list-article [currentPage]="currentPage"></app-list-article>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-10 offset-md-1">
        <app-pagination (sendCurrentPage)="getCurrentPage($event)"></app-pagination>
      </div>
    </div>
  </div>
</div>